<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">

        <title>tasks</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
            a{
                text-decoration-line: none;
            }
        </style>

    </head>

    <body>
        <form method="POST" action="/">
            {% csrf_token %}
            {{form.title}}
            <input type="submit" name="Create Task" placeholder="submit" value="Submit" required>
        </form>

        <ul>
            {% for task in tasks %}
            <li>
                <a href="{% url 'updt' task.id %}">
                    <button>Update</button>
                </a>
                <a href="{% url 'd' task.id %}">
                    <button>Delete</button>
                </a>

                {% if task.complete == True %}
                    <strike>{{task}}</strike>
                {% else %}
                    <span>{{task}}</span>
                {% endif %}
            </li>
            <br>
            {% endfor %}
        </ul>

    </body>

</html>